/* tools */
.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

body {
    font-family: "Open Sans", sans-serif;
    height: auto;
    min-height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
}

.summer-blog-menu {
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0.9375rem;
    float: right;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 2.625rem;
    height: 5rem;
}

.summer-blog-menu .summer-mobile-menu a {
    display: inline-block;
    outline: none;
    color: black;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

.summer-blog-menu .summer-mobile-menu a:hover {
    color: black;
}

.summer-blog-menu ul {
    background: black;
    position: absolute;
    width: 100%;
    -webkit-transform: translate3d(0, -110%, 0);
    -ms-transform: translate3d(0, -110%, 0);
    -moz-transform: translate3d(0, -110%, 0);
    -o-transform: translate3d(0, -110%, 0);
    transform: translate3d(0, -110%, 0);
    top: 0;
    left: 0;
    list-style-type: none;
    margin: 0;
    width: 100%;
    overflow: hidden;
    -webkit-transition: -webkit-transform .3s;
    transition: transform .3s;
    padding-top: 0;
    padding-bottom: 3.125rem;
}

.summer-blog-menu ul li {
    display: block;
    margin: 0;
    width: 100%;
    font-size: 2.25rem;
    text-align: center;
    padding: 0.3125rem;
}

.summer-blog-menu ul li a {
    color: white;
    display: block;
    width: 100%;
    height: 100%;
    outline: none;
}

.summer-blog-menu ul li.summer-mobile-close-btn {
    padding-right: 1.25rem;
}

.summer-blog-menu ul li.summer-mobile-close-btn a {
    color: white;
}

.summer-blog-menu ul.opened {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

@media only screen and (min-width: 40.063em) {
    .summer-blog-menu {
        padding-top: 1.75rem;
        padding-bottom: 1.5625rem;
        font-size: 1rem;
    }

    .summer-blog-menu ul {
        background: transparent;
        position: relative;
        width: auto;
        list-style-type: none;
        margin: 0;
        width: auto;
        overflow: auto;
        -webkit-transform: none;
        -ms-transform: none;
        -moz-transform: none;
        -o-transform: none;
        transform: none;
        visibility: visible;
        padding-top: 0;
        padding-bottom: 0;
    }

    .summer-blog-menu ul li {
        display: inline-block;
        margin-left: 1.25rem;
        width: auto;
        font-size: 1rem;
        text-align: left;
        padding: 0;
    }

    .summer-blog-menu ul li a {
        color: black;
        display: inline-block;
        border-bottom: 0.1875rem solid transparent;
        width: auto;
        height: auto;
    }

    .summer-blog-menu ul li a:hover {
        border-bottom: 0.1875rem solid #ff2fa5;
    }
}

.summer-site-head .summer-site-head-menu {
    background: white;
}

.summer-site-head .summer-site-head-menu .summer-blog-logo {
    display: inline-block;
    max-height: 5rem;
}

.summer-site-head .summer-site-head-menu .summer-blog-logo img {
    max-height: 5rem;
    padding: 0.5rem;
}

.summer-site-head .summer-site-head-menu .title {
    display: inline-block;
    padding: 0;
    padding-left: 1.25rem;
    height: 5rem;
    line-height: 5rem;
    vertical-align: middle;
    font-family: "Montserrat", sans-serif;
    font-size: 1.625rem;
    font-weight: 700;
    color: black;
    text-transform: uppercase;
    letter-spacing: -0.0625rem;
}

.summer-site-head .summer-site-head-menu .title a {
    color: black;
}

.summer-site-head .summer-site-head-menu .title a:hover {
    color: black;
}

.summer-site-head .summer-site-head-content {
    width: 100%;
    text-align: center;
    background-color: black;
    background-size: cover;
}

.summer-site-head .summer-site-head-content .summer-site-head-title-bg {
    display: inline-block;
    padding: 0.625rem;
    background: #ff2fa5;
    line-height: 1.1;
}

.summer-site-head .summer-site-head-content h1, .summer-site-head .summer-site-head-content h2 {
    margin: 0;
    padding: 0;
    color: white;
    text-transform: uppercase;
}

.summer-site-head .summer-site-head-content h1 {
    padding-top: 4.375rem;
    font-size: 0.875rem;
    margin-bottom: 0.9375rem;
}

.summer-site-head .summer-site-head-content h2 {
    font-size: 2.5rem;
    padding-bottom: 5rem;
    font-weight: 700;
    line-height: 1.3;
}

@media only screen and (min-width: 40.063em) {
    .summer-site-head .summer-site-head-content h1 {
        padding-top: 7.5rem;
        font-size: 1rem;
    }

    .summer-site-head .summer-site-head-content h2 {
        font-size: 3.75rem;
        padding-bottom: 7.5rem;
        font-weight: 700;
    }
}

@media only screen and (min-width: 70em) {
    .summer-site-head .summer-site-head-content h1 {
        padding-top: 9.375rem;
        font-size: 1rem;
    }

    .summer-site-head .summer-site-head-content h2 {
        font-size: 4.375rem;
        padding-bottom: 9.375rem;
        font-weight: 700;
    }
}

@media only screen and (min-width: 90em) {
    .summer-site-head .summer-site-head-content h1 {
        padding-top: 10.3125rem;
    }

    .summer-site-head .summer-site-head-content h2 {
        font-size: 5rem;
        padding-bottom: 10.3125rem;
    }
}

@media only screen and (min-width: 100em) {
    .summer-site-head .summer-site-head-content h1 {
        padding-top: 12.5rem;
    }

    .summer-site-head .summer-site-head-content h2 {
        font-size: 6.25rem;
        padding-bottom: 12.5rem;
    }
}

.summer-content .summer-index-post {
    visibility: hidden;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    border-bottom: 0.0625rem solid #d9d9d9;
}

.summer-content .summer-index-post:first-of-type {
    padding-top: 5rem;
}

.summer-content .summer-index-post .datetime {
    margin-bottom: 2.5rem;
}

@media only screen and (min-width: 40.063em) {
    .summer-content .summer-index-post {
        padding-top: 4.375rem;
        padding-bottom: 4.375rem;
    }

    .summer-content .summer-index-post:first-of-type {
        padding-top: 7.5rem;
    }

    .summer-content .summer-index-post .datetime {
        margin-bottom: 0;
    }
}

.summer-content .summer-index-post .summer-post-meta {
    display: block;
    text-align: center;
}

.summer-content .summer-index-post .summer-post-meta .day {
    display: block;
    font-size: 3.25rem;
    font-weight: 800;
    color: #e51843;
    font-family: "Montserrat", sans-serif;
}

.summer-content .summer-index-post .summer-post-meta .month-year {
    display: block;
    font-size: 1rem;
    color: black;
    font-size: 0.875rem;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
}

.summer-content .summer-index-post .summer-post-header .summer-post-title {
    color: black;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    font-size: 2.5rem;
    margin: 0;
    padding: 0;
    line-height: 1.1;
}

.summer-content .summer-index-post .summer-post-header .summer-post-title a {
    color: black;
}

@media only screen and (min-width: 40.063em) {
    .summer-content .summer-index-post .summer-post-header .summer-post-title {
        text-align: left;
        font-size: 2.125rem;
        margin-bottom: 0.9375rem;
    }
}

.summer-content .summer-index-post .summer-post-excerpt {
    color: black;
    font-size: 1.25rem;
    margin-top: 0.625rem;
    text-align: center;
}

.summer-content .summer-index-post .summer-post-excerpt p {
    margin: 0;
    font-size: 1.25rem;
}

@media only screen and (min-width: 40.063em) {
    .summer-content .summer-index-post .summer-post-excerpt {
        text-align: left;
    }
}

.summer-content .summer-index-post .summer-index-post-tags {
    font-size: 0.8125rem;
    color: black;
    margin-top: 1.5625rem;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

.summer-content .summer-index-post .summer-index-post-tags a {
    display: inline-block;
    padding: 0.3125rem 0.625rem;
    color: black;
    border: 0.0625rem solid black;
    border-radius: 0.125rem;
}

.summer-content .summer-index-post .summer-index-post-tags a:hover {
    color: #e51843;
    border: 0.0625rem solid #e51843;
}

@media only screen and (min-width: 40.063em) {
    .summer-content .summer-index-post .summer-index-post-tags {
        text-align: left;
    }
}

nav.pagination {
    padding-top: 5.625rem;
    padding-bottom: 5.625rem;
    text-align: center;
}

nav.pagination .newer-posts,
nav.pagination .older-posts,
nav.pagination .page-number {
    font-size: 0.875rem;
    display: inline-block;
    padding: 0.625rem 1.25rem;
    border-radius: 0.1875rem;
    color: black;
    border: 0.125rem solid black;
}

nav.pagination .newer-posts:hover,
nav.pagination .older-posts:hover {
    border: 0.125rem solid #e51843;
    color: #e51843;
}

nav.pagination .newer-posts.faded,
nav.pagination .older-posts.faded {
    color: gray;
    border: 0.125rem solid gray;
}

nav.pagination .newer-posts.faded a,
nav.pagination .older-posts.faded a {
    color: gray;
}

nav.pagination .newer-posts .fa {
    margin-right: 0.625rem;
}

nav.pagination .older-posts .fa {
    margin-left: 0.625rem;
}

.summer-site-footer {
    background: black;
}

.summer-site-footer .social-icons,
.summer-site-footer .copyright {
    width: 100%;
    padding: 0;
    text-align: center;
}

.summer-site-footer .copyright {
    color: white;
    float: none;
    text-align: center;
    font-size: 0.8125rem;
    padding-top: 3.75rem;
    padding-bottom: 1.25rem;
}

.summer-site-footer .copyright a {
    color: white;
}

.summer-site-footer .social-icons {
    text-align: center;
    float: none;
    padding-bottom: 3.75rem;
}

.summer-site-footer .social-icons a {
    color: black;
}

@media only screen and (min-width: 70em) {
    .summer-site-footer .social-icons,
    .summer-site-footer .copyright {
        width: 49%;
        padding: 5rem;
    }

    .summer-site-footer .copyright {
        text-align: left;
        float: left;
    }

    .summer-site-footer .social-icons {
        text-align: right;
        float: right;
    }
}

.fadeInDown {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    visibility: visible !important;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

.tag-template .summer-index-post:first-of-type {
    padding-top: 3.125rem;
}

@media only screen and (min-width: 40.063em) {
    .tag-template .summer-index-post:first-of-type {
        padding-top: 4.6875rem;
    }
}

.summer-tags-container {
    background: #f2f2f2;
}

.summer-tags-container .summer-tags-header {
    font-family: "Montserrat", sans-serif;
    font-size: 1.125rem;
    color: black;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
    text-align: center;
}

.summer-tags-container .summer-tags-header .tag-name {
    color: #e51843;
    text-transform: none;
}

@media only screen and (min-width: 40.063em) {
    .summer-tags-container .summer-tags-header {
        font-size: 1.5625rem;
    }
}
